.vs/
.vscode/
.cache/*
out/

cmake-build-*/
build/

CMakeSettings.json

monado/src/xrt/tracking/*

**pyc

**__pycache__**

**checkpoints**

**egg-info**
**.egg

**wandb/

*\.onnx


*.code-workspace

**target**
**.idea**


py/training/keypoint/local_config.py
py/training/detection/local_config.py